<div class="container">
    <div class="logo" [style.height.px]="logoHightInPixels">
        <app-logo></app-logo>
    </div>
    <div class="content" [style.margin-top.px]="logoHightInPixels">
        <div class="background-image" [style.top.px]="footerHeightInPixels"></div>
        <router-outlet></router-outlet>
    </div>
    <div class="footer" [style.height.px]="footerHeightInPixels">
        <app-footer></app-footer>
    </div>
</div>
<app-loading-spinner *ngIf="loading$ | async"></app-loading-spinner>