<div class="input-container pt-s pb-s">
    <div class="label pt-m pb-m">{{ label | translate }}</div>
    <div class="content border-sr overflow-hidden" [class.form-invalid]="!!error" [class.bg-secondary]="control.disabled">
        <div *ngIf="!!prefix" class="pl-m prefix">{{ prefix | translate }}</div>
        <div *ngIf="!!prefixIcon" class="bg-secondary prefix-icon p-m">{{ prefixIcon }}</div>
        <div class="input overflow-hidden" (click)="onTouched()">
            <input *ngIf="textMask; else nonTextMask" [formControl]="control" [placeholder]="placeholder | translate" class="p-m" [textMask]="{ mask: textMask }" />
            <ng-template #nonTextMask>
                <input [formControl]="control" [placeholder]="placeholder | translate" class="p-m" />
            </ng-template>
        </div>
    </div>
    <div *ngIf="error" class="text-error p-s">{{ error | translate }}</div>
</div>