/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './assets/styles/main.scss';

html, body {
    height: 100%;
}

body {
    @include box-model;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.overflow-hidden {
    overflow: hidden;
}

.header-text {
    color: $text-gray;
    font-size: 18px;
    padding-left: $small-spacing;
    padding-right: $small-spacing;
}

hr {
    border-top: 1px solid $border-secondary;
}