.actions {
    display: flex;
    justify-content: flex-end;

    button {
        border: none;
        outline: none;

        font-size: 16px;
        
        padding: $medium-spacing;
        margin-left: $small-spacing;
        border-radius: $small-spacing;

        &.btn-primary {
            color: $text-gray;
            background-color: $accent;
        }
    }
}

button {
    cursor: pointer;
}