@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';

@mixin box-model {
    padding: 0;
    margin: 0;
}

@mixin icon( $unicode, $size: inherit ) {
    @include fa-icon();

    content: $unicode;
    font-size: $size;
}