// spacing
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 20px;

// colors
$primary-blue: #00a1e0;
$accent: #db6c36;
$warn: #c83e41;

$background-white: #ffffff;
$background-secondary: #e6e9ec;

$border-secondary: #c8ced4;
$text-gray: #f2f2f2;